#missing value

In [55]:
from sklearn.metrics import mean_squared_error
from sklearn.impute import KNNImputer
import matplotlib.pyplot as plt
from numpy.linalg import norm
from pandas import read_csv
import torch.linalg as la
from numpy import isnan
from numpy import array
import seaborn as sns
import pandas as pd
import numpy as np
import torch
import math
import os
%matplotlib inline

In [ ]:
temp=[]
after = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing1.csv",usecols=['Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols',
'Flavanoids',
'Nonflavanoid phenols',
'Proanthocyanins',
'Color intensity',
'Hue',
'OD280/OD315 of diluted wines'
])
data = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing1.csv",usecols=['Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols',
'Flavanoids',
'Nonflavanoid phenols',
'Proanthocyanins',
'Color intensity',
'Hue',
'OD280/OD315 of diluted wines'
])

In [102]:
befor = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing2.csv")
df = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing2.csv")
for i in befor.columns:
  # print(i)
  befor[i] = befor[i].replace(np.nan, 0) 
df
# df.columns
(df.isnull().sum()).sum()

455

In [79]:
# implementation of NRMSE with standard deviation
def normalized_root_mean_squared_error(true, pred):
    # print('******************************',true)
    # print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@',(true - pred))
    squared_error = np.square((true - pred))
    # print('squared_error//////',squared_error)
    sum_squared_error = np.sum(squared_error)
    # print(sum_squared_error)
    rmse = np.sqrt(sum_squared_error / true.size)
    nrmse_loss = rmse/np.std(pred)
    print(nrmse_loss.sum())
    return nrmse_loss

def KNN(true):
 df = pd.DataFrame(true)
 imputer = KNNImputer(n_neighbors=2)
 df_filled = imputer.fit_transform(df)
 for i in df.columns:
  df[i] = df[i].replace(np.nan, 0)
 df.columns = [0,1, 2, 3, 4, 5,6,7,8,9,10]
 return normalized_root_mean_squared_error(df,pd.DataFrame(df_filled))

def Mean(df,befor):
 df.isnull().sum()
 for i in df.columns:
  # print(i)
  df[i].fillna(df[i].mean(), inplace = True)
 return normalized_root_mean_squared_error(befor,df) 

def Median(df,befor): 
 df.isnull().sum()
 for i in df.columns:
  # print(i)
  df[i].fillna(df[i].median(), inplace = True)
 return normalized_root_mean_squared_error(befor,df)  

def Mode(df,befor): 
 df.isnull().sum()
 for i in df.columns:
  # print(i)
  df[i].fillna(df[i].mode(), inplace = True)
 return normalized_root_mean_squared_error(befor,df)  

def RandomSampeling(df,befor):
 samples=[]
 for i in df.columns:
  # print(i)
  randomsample=df[i].dropna().sample()
  samples.append(randomsample.values[0])
 for i in df.columns:
  j=0
  df[i] = df[i].replace(np.nan,samples[j])
  j=j+1 
 return normalized_root_mean_squared_error(befor,df)  
def Norm(data,after):
 for i in data.columns:
  data[i] = data[i].replace(np.nan, 0) 
 for i in data.columns:
  a = torch.tensor(data[i])
  print(i)
  norm = la.norm(a)
  a = a.reshape(2,89)
  norm = la.norm(a)
  after[i] = after[i].replace(np.nan, norm.numpy()) 
 normalized_root_mean_squared_error(data,after)

In [ ]:
KNN(df)

In [ ]:
Mean(df,befor)

In [103]:
Median(df,befor)

8.577821083250665

Unnamed: 0                      0.000000
Alcohol                         1.233986
Malic acid                      0.453508
Ash                             0.000000
Alcalinity of ash               0.770124
Magnesium                       0.426779
Total phenols                   0.844892
Flavanoids                      3.165084
Nonflavanoid phenols            0.201765
Proanthocyanins                 0.095508
Color intensity                 0.204130
Hue                             0.000000
OD280/OD315 of diluted wines    0.177746
Proline                         1.004298
dtype: float64

In [ ]:
Mode(df,befor)

In [86]:
RandomSampeling(df,befor)

4.774416320300565

Unnamed: 0       0.000000
refractive       0.379973
Sodium           0.433836
Magnesium        0.304404
Aluminum         0.934239
Silicon          1.117347
Potassium        0.316220
Calcium          0.367955
Barium           0.302146
Iron             0.302335
Type of glass    0.315961
dtype: float64

#norm

In [ ]:
# Python program to compute vector norm
# importing libraries
import torch
import torch.linalg as la
temp=[]
after = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing1.csv",usecols=['Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols',
'Flavanoids',
'Nonflavanoid phenols',
'Proanthocyanins',
'Color intensity',
'Hue',
'OD280/OD315 of diluted wines'
])
data = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing1.csv",usecols=['Alcohol','Malic acid','Ash','Alcalinity of ash','Magnesium','Total phenols',
'Flavanoids',
'Nonflavanoid phenols',
'Proanthocyanins',
'Color intensity',
'Hue',
'OD280/OD315 of diluted wines'
])
for i in data.columns:
  data[i] = data[i].replace(np.nan, 0) 
for i in data.columns:
 a = torch.tensor(data[i])
 print(i)
 norm = la.norm(a)
 a = a.reshape(2,89)
 norm = la.norm(a)
 after[i] = after[i].replace(np.nan, norm.numpy()) 
normalized_root_mean_squared_error(data,after) 
# after
# temp

#Linear Regression

In [90]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

data = pd.read_csv("/content/drive/MyDrive/data mining/glass.csv")
befor = pd.read_csv("/content/drive/MyDrive/data mining/glass.csv")
# df = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing1.csv")
for i in befor.columns:
  # print(i)
  befor[i] = befor[i].replace(np.nan, 0) 

x = befor.iloc[:,1:10]
y = befor.iloc[:,10:]

In [91]:
# from sklearn.cross_validation import train_test_split
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size = 0.2,random_state = 100)

In [92]:
# print(y)
from sklearn.linear_model import LinearRegression
lm = LinearRegression()
lm = lm.fit(x_train,y_train)   #lm.fit(input,output)

In [93]:
lm.coef_

array([[-0.61549827,  0.08236745, -0.63037739,  0.36900195,  0.00534718,
        -0.11251105, -0.24743743,  0.94975118, -2.07321861]])

In [94]:
coefficients = pd.concat([pd.DataFrame(x_train.columns),pd.DataFrame(np.transpose(lm.coef_))], axis = 1)
ds=pd.DataFrame(coefficients)
arr = ds.to_numpy()
arr

array([['refractive', -0.6154982654031744],
       ['Sodium', 0.0823674508813119],
       ['Magnesium', -0.6303773911336072],
       ['Aluminum', 0.36900195153506554],
       ['Silicon', 0.005347177083320616],
       ['Potassium', -0.11251105101505303],
       ['Calcium', -0.24743743390849807],
       ['Barium', 0.9497511830362743],
       ['Iron', -2.0732186060426536]], dtype=object)

In [95]:
for i in data.columns:
  j=1
  data[i] = data[i].replace(np.nan, arr[j][1]) 
  j=j+1
data  
normalized_root_mean_squared_error(befor,data)

0.09690727075361927

Unnamed: 0       0.000000
refractive       0.020594
Sodium           0.002143
Magnesium        0.001171
Aluminum         0.038149
Silicon          0.000382
Potassium        0.010917
Calcium          0.002653
Barium           0.003423
Iron             0.017475
Type of glass    0.000000
dtype: float64

#knn_stable

In [ ]:
from numpy import isnan
from pandas import read_csv
import pandas as pd
import numpy as np
import math
from sklearn.impute import KNNImputer
url = '/content/drive/MyDrive/data mining/labledwinemissing1.csv'
dict = read_csv(url)

df = pd.DataFrame(dict)
df

,Unnamed: 0,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,NaN,NaN,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,NaN,NaN,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,NaN,NaN,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,NaN,NaN,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,NaN,NaN,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,NaN,NaN,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,NaN,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,NaN,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,NaN,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,NaN,0.56,1.35,9.20,0.61,1.60,560

In [ ]:
imputer = KNNImputer(n_neighbors=2)
imputer

KNNImputer(n_neighbors=2)

In [ ]:
df_filled = imputer.fit_transform(df)
pd.DataFrame(df_filled)

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1.0,13.975,1.595,2.43,15.6,127.0,2.800,3.060,0.28,2.29,5.64,1.04,3.92,1065.0
1,1.0,13.980,1.595,2.14,11.2,100.0,2.650,2.760,0.26,1.28,4.38,1.05,3.40,1050.0
2,1.0,13.605,1.595,2.67,18.6,101.0,2.800,3.240,0.30,2.81,5.68,1.03,3.17,1185.0
3,1.0,13.840,1.595,2.50,16.8,113.0,3.850,3.490,0.24,2.18,7.80,0.86,3.45,1480.0
4,1.0,13.460,3.245,2.87,21.0,118.0,2.800,2.690,0.39,1.82,4.32,1.04,2.93,735.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3.0,13.710,5.650,2.45,20.5,95.0,2.165,2.550,0.52,1.06,7.70,0.64,1.74,740.0
174,3.0,13.400,3.910,2.48,23.0,102.0,1.800,2.550,0.43,1.41,7.30,0.70,1.56,750.0
175,3.0,13.270,4.280,2.26,20.0,120.0,1.590,2.855,0.43,1.35,10.20,0.59,1.56,835.0
176,3.0,13.170,2.590,2.37,20.0,120.0,1.650,2.855,0.53,1.46,9.30,0.60,1.62,840.0
177,3.0,14.130,4.100,2.74,24.5,96.0,2.050,2.660,0.56,1.35,9.20,0.61,1.60,560.0

In [ ]:
for i in df.columns:
  # print(i)
  df[i] = df[i].replace(np.nan, 0)
df.columns = [0,1, 2, 3, 4, 5,6,7,8,9,10,11,12,13]  
df

,0,1,2,3,4,5,6,7,8,9,10,11,12,13
0,1,0.00,0.00,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,0.00,0.00,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,0.00,0.00,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,0.00,0.00,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,0.00,0.00,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,0.00,0.00,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,0.00,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,0.00,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,0.00,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,0.00,0.56,1.35,9.20,0.61,1.60,560

In [ ]:
# implementation of NRMSE with standard deviation
def normalized_root_mean_squared_error(true, pred):
    # print('******************************',true)
    # print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@',(true - pred))
    squared_error = np.square((true - pred))
    # print('squared_error//////',squared_error)
    sum_squared_error = np.sum(squared_error)
    # print(sum_squared_error)
    rmse = np.sqrt(sum_squared_error / true.size)
    nrmse_loss = rmse/np.std(pred)
    print(nrmse_loss.sum())
    return nrmse_loss

In [ ]:
normalized_root_mean_squared_error(df,pd.DataFrame(df_filled))

5.204244154028033

0     0.000000
1     1.048836
2     0.323682
3     0.000000
4     0.537299
5     0.153870
6     0.649545
7     2.333263
8     0.000000
9     0.060928
10    0.096821
11    0.000000
12    0.000000
13    0.000000
dtype: float64

#Mean/ Median /Mode imputation

In [ ]:
import pandas as pd
import math
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
#Load libraries
import os
from sklearn.metrics import mean_squared_error
# %matplotlib inline
befor = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing1.csv")

df = pd.read_csv("/content/drive/MyDrive/data mining/labledwinemissing1.csv")
# with open('/content/drive/MyDrive/data mining/labledwinemissing.csv') as f: 
    # creating an object of csv reader
    # with the delimiter as ,
    # df = csv.reader(f, delimiter = ',')
df
df.columns

Index(['Unnamed: 0', 'Alcohol', 'Malic acid', 'Ash', 'Alcalinity of ash',
       'Magnesium', 'Total phenols', 'Flavanoids', 'Nonflavanoid phenols',
       'Proanthocyanins', 'Color intensity', 'Hue',
       'OD280/OD315 of diluted wines', 'Proline'],
      dtype='object')

In [ ]:
df.isnull().sum()

Unnamed: 0                        0
Alcohol                           9
Malic acid                       73
Ash                               0
Alcalinity of ash                20
Magnesium                         1
Total phenols                    58
Flavanoids                      126
Nonflavanoid phenols              0
Proanthocyanins                   1
Color intensity                   3
Hue                               0
OD280/OD315 of diluted wines      0
Proline                           0
dtype: int64

In [ ]:
(df.sum().sum())/(14*177)

64.2369031472962

In [ ]:
for i in df.columns:
  # print(i)
  df[i] = df[i].replace(np.nan, (df.sum().sum())/(14*177))
df

,Unnamed: 0,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,64.236903,64.470209,2.43,15.6,127.0,2.800000,3.060000,0.28,2.29,5.64,1.04,3.92,1065
1,1,64.236903,64.470209,2.14,11.2,100.0,2.650000,2.760000,0.26,1.28,4.38,1.05,3.40,1050
2,1,64.236903,64.470209,2.67,18.6,101.0,2.800000,3.240000,0.30,2.81,5.68,1.03,3.17,1185
3,1,64.236903,64.470209,2.50,16.8,113.0,3.850000,3.490000,0.24,2.18,7.80,0.86,3.45,1480
4,1,64.236903,64.470209,2.87,21.0,118.0,2.800000,2.690000,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.710000,5.650000,2.45,20.5,95.0,66.932122,68.498733,0.52,1.06,7.70,0.64,1.74,740
174,3,13.400000,3.910000,2.48,23.0,102.0,1.800000,68.498733,0.43,1.41,7.30,0.70,1.56,750
175,3,13.270000,4.280000,2.26,20.0,120.0,1.590000,68.498733,0.43,1.35,10.20,0.59,1.56,835
176,3,13.170000,2.590000,2.37,20.0,120.0,1.650000,68.498733,0.53,1.46,9.30,0.60,1.62,840
177,3,14.130000,4.100000,2.74,24.5,96.0,2.050000,68.498733,0.56,1.35,9.20,0.61,1.60,560

In [ ]:
for i in df.columns:
  # print(i)
  df[i].fillna(df[i].mean(), inplace = True)
df

In [ ]:
for i in df.columns:
  # print(i)
  df[i].fillna(df[i].median(), inplace = True)
df

 sns.heatmap(df.isnull(),yticklabels=False,cbar=False,cmap='viridis')

In [ ]:
df.isnull().sum()

Unnamed: 0                      0
Alcohol                         0
Malic acid                      0
Ash                             0
Alcalinity of ash               0
Magnesium                       0
Total phenols                   0
Flavanoids                      0
Nonflavanoid phenols            0
Proanthocyanins                 0
Color intensity                 0
Hue                             0
OD280/OD315 of diluted wines    0
Proline                         0
dtype: int64

In [ ]:
for i in befor.columns:
  # print(i)
  befor[i] = befor[i].replace(np.nan, 0)
befor

,Unnamed: 0,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,0.00,0.00,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,0.00,0.00,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,0.00,0.00,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,0.00,0.00,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,0.00,0.00,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,0.00,0.00,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,0.00,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,0.00,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,0.00,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,0.00,0.56,1.35,9.20,0.61,1.60,560

In [ ]:
# implementation of NRMSE with standard deviation
def normalized_root_mean_squared_error(true, pred):
    # print('******************************',true)
    # print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@',(true - pred))
    squared_error = np.square((true - pred))
    # print('squared_error//////',squared_error)
    sum_squared_error = np.sum(squared_error)
    # print(sum_squared_error)
    rmse = np.sqrt(sum_squared_error / true.size)
    nrmse_loss = rmse/np.std(pred)
    print(nrmse_loss.sum())
    return nrmse_loss

In [ ]:
normalized_root_mean_squared_error(befor,df)

Unnamed: 0                           0.000000
Alcohol                          37137.417534
Malic acid                      303417.773797
Ash                                  0.000000
Alcalinity of ash                88098.084606
Magnesium                         4476.295357
Total phenols                   259834.717058
Flavanoids                      591201.630977
Nonflavanoid phenols                 0.000000
Proanthocyanins                   5181.367946
Color intensity                  15556.652056
Hue                                  0.000000
OD280/OD315 of diluted wines         0.000000
Proline                              0.000000
dtype: float64
2.597282584163403

Unnamed: 0                      0.000000
Alcohol                         0.342739
Malic acid                      0.362801
Ash                             0.000000
Alcalinity of ash               0.390997
Magnesium                       0.092774
Total phenols                   0.338176
Flavanoids                      0.516784
Nonflavanoid phenols            0.000000
Proanthocyanins                 0.272513
Color intensity                 0.280499
Hue                             0.000000
OD280/OD315 of diluted wines    0.000000
Proline                         0.000000
dtype: float64

#random_sampeling

In [ ]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
from numpy.linalg import norm

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/data mining/labledwinemissing1.csv')
df.head()

,Unnamed: 0,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,NaN,NaN,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,NaN,NaN,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,NaN,NaN,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,NaN,NaN,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,NaN,NaN,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735

In [ ]:
df.isnull().sum()

Unnamed: 0                        0
Alcohol                           9
Malic acid                       73
Ash                               0
Alcalinity of ash                20
Magnesium                         1
Total phenols                    58
Flavanoids                      126
Nonflavanoid phenols              0
Proanthocyanins                   1
Color intensity                   3
Hue                               0
OD280/OD315 of diluted wines      0
Proline                           0
dtype: int64

In [ ]:
# my_input.append('Science') 
samples=[]
for i in df.columns:
  # print(i)
 randomsample=df[i].dropna().sample()
 samples.append(randomsample.values[0])
samples [0]

3

In [ ]:

randomsample=df['Flavanoids'].dropna().sample()
# randomsample=df['Flavanoids'].dropna().sample(df['Flavanoids'].isnull().sum())
print('*********************',randomsample.values[0])

********************* 2.61

In [ ]:
for i in df.columns:
 j=0
 df[i] = df[i].replace(np.nan,samples[j])
 j=j+1
df

,Unnamed: 0,Alcohol,Malic acid,Ash,Alcalinity of ash,Magnesium,Total phenols,Flavanoids,Nonflavanoid phenols,Proanthocyanins,Color intensity,Hue,OD280/OD315 of diluted wines,Proline
0,1,3.00,3.00,2.43,15.6,127.0,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065
1,1,3.00,3.00,2.14,11.2,100.0,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050
2,1,3.00,3.00,2.67,18.6,101.0,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185
3,1,3.00,3.00,2.50,16.8,113.0,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480
4,1,3.00,3.00,2.87,21.0,118.0,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,3,13.71,5.65,2.45,20.5,95.0,3.00,2.61,0.52,1.06,7.70,0.64,1.74,740
174,3,13.40,3.91,2.48,23.0,102.0,1.80,2.61,0.43,1.41,7.30,0.70,1.56,750
175,3,13.27,4.28,2.26,20.0,120.0,1.59,2.61,0.43,1.35,10.20,0.59,1.56,835
176,3,13.17,2.59,2.37,20.0,120.0,1.65,2.61,0.53,1.46,9.30,0.60,1.62,840
177,3,14.13,4.10,2.74,24.5,96.0,2.05,2.61,0.56,1.35,9.20,0.61,1.60,560

In [1]:
# implementation of NRMSE with standard deviation
def normalized_root_mean_squared_error(true, pred):
    # print('******************************',true)
    # print('@@@@@@@@@@@@@@@@@@@@@@@@@@@@@@',(true - pred))
    squared_error = np.square((true - pred))
    # print('squared_error//////',squared_error)
    sum_squared_error = np.sum(squared_error)
    # print(sum_squared_error)
    rmse = np.sqrt(sum_squared_error / true.size)
    nrmse_loss = rmse/np.std(pred)
    print(nrmse_loss.sum())
    return nrmse_loss

In [ ]:
normalized_root_mean_squared_error(befor,df)

3.926017737664832

Unnamed: 0                      0.000000
Alcohol                         0.078011
Malic acid                      0.535634
Ash                             0.000000
Alcalinity of ash               0.044797
Magnesium                       0.003764
Total phenols                   0.890702
Flavanoids                      2.222130
Nonflavanoid phenols            0.000000
Proanthocyanins                 0.104207
Color intensity                 0.046774
Hue                             0.000000
OD280/OD315 of diluted wines    0.000000
Proline                         0.000000
dtype: float64